.navparent {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  top: 0;
  left: 0;
  margin: auto;
  padding: 16px 0 16px 0;
  width: 100%;
  height: 25px;
  background-color: #c0c0c0;
  box-shadow: 0px 0px 15px 0px #555;
  border-radius: 0 0 0px 0px;
  z-index: 2;
  transition: top 0.3s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 2560px) {
  .navbar {
    max-width: 1920px;
  }
}

#logosvg {
  height: 50px;
}

#btn-home {
  color: #c0c0c0;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
  /* text-shadow: -1px 2px 4px rgba(0,0,0,0.35), 1px -2px 4px rgba(255,255,255,0.65); */
  text-shadow: -1px 1px 2px rgba(0,0,0,0.35), 1px -1px 2px rgba(255,255,255,0.65);
}

.inputboxburger {
    display: none;
  }
  
  /* Burger-Lines */
  .open {
    background-color: #c0c0c0;
    width: 24px;
    height: 4px;
    display: block;
    cursor: pointer;
    position: relative;
    top: 8px;
    box-shadow: -1px 2px 4px rgba(0,0,0,0.35), 1px -2px 4px rgba(255,255,255,0.65);
  }
  
  .open:before {
    content: "";
    background-color: #c0c0c0;
    width: 24px;
    height: 4px;
    display: block;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    box-shadow: -1px 2px 4px rgba(0,0,0,0.35), 1px -2px 4px rgba(255,255,255,0.65);
  }
  
  .open:after {
    content: "";
    background-color: #c0c0c0;
    width: 24px;
    height: 4px;
    display: block;
    position: relative;
    top: 5px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    box-shadow: -1px 2px 4px rgba(0,0,0,0.35), 1px -2px 4px rgba(255,255,255,0.65);
  }
  
  /* Burger BG */
  .menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
    /* background-color: #62929e; */
    z-index: 5;
    box-sizing: initial;
  }
  
  /* Hover-Effect Burger-Lines */
  .menuOpen:hover .open:before {
    top: -10px;
  }
  
  .menuOpen:hover .open:after {
    top: 6px;
  }
  
  /* Menu-Design */
  .menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #c0c0c0;
    overflow: auto;
    z-index: 1;
  }
  
  .menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
  }
  
  .menu .menuContent {
    display: flex;
    /* position: relative;
    top: 50%; */
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 75px;
  }
  
  .menuContent input {
    color: #fdfdff;
    text-decoration: none;
    transition: color 0.2s;
    font-family: 'Staatliches', cursive;
    font-size: 54px;
    text-transform: uppercase;
    padding: 20px 0;
    max-width: 1280px;
  }
  
  .menuContent input:hover {
    color: #62929e;
    text-decoration: none;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: none;
  }
  
  .menu ul li a {
    display: block;
    color: #fdfdff;
    text-decoration: none;
    transition: color 0.2s;
    font-family: 'Staatliches', cursive;
    font-size: 5.5vh;
    text-transform: uppercase;
    padding: 20px 0;
    min-width: 75vw;
   
  }
  
  .menu ul li a:hover {
    color: #c0c0c0;
  }
  
  .menu ul li:hover {
    background: #fdfdff;
  }
  
  .menu input {
    display: block;
    color: #fdfdff;
    text-decoration: none;
    transition: color 0.2s;
    font-family: 'Staatliches', cursive;
    font-size: 54px;
    text-transform: uppercase;
    padding: 20px 0;
    min-width: 75vw;
    border: none;
    background: none;
  }
  
  .menu input:hover {
    color: #62929e;
    background: #fdfdff;
    font-weight: bold;
  }
  
  .menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open {
    background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open:before {
    content: "";
    background-color: #fdfdff;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    box-shadow: none;
  }
  
  #menuToggle:checked ~ .menuOpen .open:after {
    content: "";
    background-color: #fdfdff;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 2;
    box-shadow: none;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
  }

  /* Close Icon https://codepen.io/brissmyr */
  .close {
    position: fixed;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.6;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fdfdff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }