/* Orientation Lock */
/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */

/* staatliches-regular - latin */
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/staatliches-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/staatliches-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/staatliches-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/staatliches-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/staatliches-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/staatliches-v11-latin-regular.svg#Staatliches') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/montserrat-v25-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/montserrat-v25-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/montserrat-v25-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/montserrat-v25-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-latin-700italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}


body {
    background-color: #c0c0c0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 95%; */
  max-width: 1280px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em 0 2em;
  overflow: hidden;
  /* min-height: 100vh; */
}

.wrapper-disabled {
  margin: 0;
}


/* .text {
  color: #c0c0c0;
  font-size: 8em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase; */
  /* text-shadow: -6px 6px 15px rgba(0,0,0,0.5), 6px -6px 15px rgba(255,255,255,0.8); */
/*   text-shadow: -0.025em 0.025em 0.056em rgba(0,0,0,0.5), 0.025em -0.025em 0.056em rgba(255,255,255,0.8);
  position: relative;
} */

h1, h2, h3, h4, h5 {
  color: #c0c0c0;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

h1 {
  font-size: 8em;
  text-shadow: -0.025em 0.025em 0.056em rgba(0,0,0,0.5), 0.025em -0.025em 0.056em rgba(255,255,255,0.8);
}

h1 + p {
  margin: 0;
  font-style: italic;
  color: #ff0b44;
}

h2 {
  font-size: 5em;
  text-shadow: -0.025em 0.025em 0.056em rgba(0,0,0,0.5), 0.025em -0.025em 0.056em rgba(255,255,255,0.8);
}

h3 {
  font-size: 4em;
  text-shadow: -0.025em 0.025em 0.056em rgba(0,0,0,0.5), 0.025em -0.025em 0.056em rgba(255,255,255,0.8);
}

h3.overlay-hl {
  color: white;
  text-shadow: none;
}

h4 {
  color: white;
  font-size: 3em;
  margin: 0.4em 0 0.2em 0;
}

h5 {
  color: white;
  font-size: 2em;
  margin: 0.6em 0 0.2em 0;
}

video {
  max-width: 500px; 
  align-self: center;
}

#games {
  animation: neon1 1.5s ease-in-out infinite alternate;
}

#graphics {
  animation: neon2 1.5s ease-in-out infinite alternate;
}

#software {
  animation: neon3 1.5s ease-in-out infinite alternate;
}

#web {
  animation: neon4 1.5s ease-in-out infinite alternate;
}

#section::after {
  content: "";
  background-color: #c0c0c0;
  width: 100%;
  height: 4px;
  display: block;
  box-shadow: -1px 2px 4px rgba(0,0,0,0.5), 1px -2px 4px rgba(255,255,255,0.8);
  margin: 3em 0 3em 0;
}

#section p,#section ul {
  color: black;
}

#hidden-content p,#hidden-content ul {
  color: whitesmoke;
}

#hidden-content a.button {
  background-color: rgba(0,0,0,0);
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: 1.3em;
  text-decoration: none;
  padding: 5px 10px;
  border-style: solid;
  border-color: white;
  margin: 0.8em;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 25px;
  width: 70%;
  text-align: center;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  transition-timing-function: ease-in-out;
}

#cardwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#cardwrapper > i {
  width: 300px;
  margin: 1em;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  height: 400px;
  box-shadow: -1px 2px 4px rgba(0,0,0,0.5), 1px -2px 4px rgba(255,255,255,0.8);
  border-radius: 20px;
  /* border: solid 1px #b0b0b0; */
  margin: 2em 1em;
  filter: saturate(0.5);
  transition: all 0.5s ease-in-out 0s;
}

.card.hidden {
  display: none;
}

.card-header {
  border-radius: 10px;
  margin: 0.5em 0.5em 0.1em 0.5em;
  padding: 0.5em;
  box-shadow: inset -5px 5px 6px #a7a7a7,
  inset 5px -5px 6px #d9d9d9;
  transition: all 0.5s ease-in-out 0s;
}

.card-header > img {
  opacity: 100%;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s ease-in-out 0s;
}

.card-content {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 0.25em 0.75em;
}

#card-tag-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin-bottom: 0.2em;
}

#card-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 30px;
  box-shadow: inset -5px 5px 6px #a7a7a7, inset 5px -5px 6px #d9d9d9;
  border-radius: 10px;
  background-color: #c0c0c0;
  color: darkcyan;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  align-self: end;
  margin: 0.5em;
}

#card-headline {
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

#card-info {
  font-size: 16px;
  color: black;
  margin: 0;
}

#card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  bottom: -40px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #c0c0c0;
  padding: 18px 32px;
  margin: 0.5em 1em;
  border-radius: 10px;
  box-shadow: -1px 2px 5px rgba(0,0,0,0.5), 1px -2px 5px rgba(255,255,255,0.8);
  transition: all .2s ease-in-out;
}

#card-btn > a, a:visited {
  width: 100%;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;     
  position: relative;    
  z-index: 1;     
  padding: 18px 32px;   
  margin: -18px -32px;
  transition: all .2s ease-in-out;
}

#card-btn:active {
  box-shadow: inset -2px 2px 5px #a7a7a7,
  inset 2px -2px 5px #d9d9d9;
}

details[open] > div {
  animation-name: slideDown;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

details[open] > div > .filter-btn {
  opacity: 0;
  animation-name: showContent;
  animation-duration: 0.6s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

summary {
  display: block;
  cursor: pointer;
  color: #c0c0c0;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: -0.025em 0.025em 0.056em rgba(0,0,0,0.5), 0.025em -0.025em 0.056em rgba(255,255,255,0.8);
  transition: all 0.5s ease-in-out 0s;
  transition: .3s;
  user-select: none;
  margin: 0.5em;
}

summary::before {
  content: "+ ";
}

details[open] > summary::before {
  content :"− "
}

@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  to {
    opacity: 1;
    height: var(--contentHeight);
    padding: 20px;
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.filter-btn-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.7em;
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #c0c0c0;
  font-weight: bold;
  text-transform: uppercase;
  align-self: end;
  margin: 0.5em;
  width: 100px !important;
  height: 45px !important;
  color: rgb(105, 105, 105) !important;
  box-shadow: -1px 2px 5px rgba(0,0,0,0.5), 1px -2px 5px rgba(255,255,255,0.8) !important;
  font-size: 10px !important;
}

.filter-btn.active {
  color: darkcyan !important;
  /* background-color: #228dff !important; */
  box-shadow: inset -5px 5px 6px #a7a7a7, inset 5px -5px 6px #d9d9d9 !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Keyframes for Neon-Effect */
/* https://codepen.io/FelixRilling/pen/oNNLMb */
@keyframes neon1 {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff1177,
      0 0 25px #ff1177, 0 0 30px #ff1177, 0 0 40px #ff1177, 0 0 60px #ff1177;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #ff1177,
      0 0 15px #ff1177, 0 0 20px #ff1177, 0 0 25px #ff1177, 0 0 30px #ff1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #228dff,
      0 0 25px #228dff, 0 0 30px #228dff, 0 0 40px #228dff, 0 0 60px #228dff;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #228dff,
      0 0 15px #228dff, 0 0 20px #228dff, 0 0 25px #228dff, 0 0 30px #228dff;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ffdd1b,
      0 0 25px #ffdd1b, 0 0 30px #ffdd1b, 0 0 40px #ffdd1b, 0 0 60px #ffdd1b;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #ffdd1b,
      0 0 15px #ffdd1b, 0 0 20px #ffdd1b, 0 0 25px #ffdd1b, 0 0 30px #ffdd1b;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #b6ff00,
      0 0 25px #b6ff00, 0 0 30px #b6ff00, 0 0 40px #b6ff00, 0 0 60px #b6ff00;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #b6ff00,
      0 0 15px #b6ff00, 0 0 20px #b6ff00, 0 0 25px #b6ff00, 0 0 30px #b6ff00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff9900,
      0 0 25px #ff9900, 0 0 30px #ff9900, 0 0 40px #ff9900, 0 0 60px #ff9900;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #ff9900,
      0 0 15px #ff9900, 0 0 20px #ff9900, 0 0 25px #ff9900, 0 0 30px #ff9900;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00de,
      0 0 25px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 60px #ff00de;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #ff00de,
      0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 30px #ff00de;
  }
}

.iframe-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.consent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
  position: absolute;
  top: 0;
  z-index: 2;
}

/* Style from https://boolie.org/css-checkbox-styling/ */
[type="checkbox"].consent-chk {
  position: relative;
  left: 30px;
  top: 0px;
  z-index: 0;
  -webkit-appearance: none;
}
[type="checkbox"].consent-chk + label {
  position: relative;
  display: block;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.3;
  padding-left: 4em;
  position: relative;
  margin-top: -1em;
}
[type="checkbox"].consent-chk + label:before {
  width: 3em;
  height: 1.5em;
  border-radius: 1.5em;
  border: 2px solid #ddd;
  background-color: #EEE;
  content: "";
  margin-right: 15px;
  transition: background-color 0.5s linear;
  z-index: 5;
  position: absolute;
  left: 0px;
}
[type="checkbox"].consent-chk + label:after {
  width: 1.5em;
  height: 1.5em;
  border-radius: 30px;
  background-color: #fff;
  content: "";
  transition: margin 0.1s linear;
  box-shadow: 0px 0px 5px #aaa;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 10;
}
[type="checkbox"].consent-chk:checked + label:before {
  background-color: #2b8718;
}
[type="checkbox"].consent-chk:checked + label:after {
  margin: 0 0 0 1.5em;
}

/* YouTube-Button by Ian James https://codepen.io/injms/pen/rNOOYY */
/* .youtube-btn {
  background: darkgrey;
  border-radius: 50% / 10%;
  color: #FFFFFF;
  font-size: 1em;
  height: 3em;
  margin: 20px auto;
  padding: 0;
  position: relative;
  text-align: center;
  text-indent: 0.1em;
  transition: all 150ms ease-out;
  width: 4em;
} */

/* .youtube-btn:hover {
  background: red;
} */

/* .youtube-btn::before { 
  background: inherit;
  border-radius: 5% / 50%;
  bottom: 9%;
  content: "";
  left: -5%;
  position: absolute;
  right: -5%;
  top: 9%;
} */

/* .youtube-btn::after {
  border-style: solid;
  border-width: 1em 0 1em 1.732em;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
  content: ' ';
  font-size: 0.75em;
  height: 0;
  margin: -1em 0 0 -0.75em;
  top: 50%;
  position: absolute;
  width: 0;
} */

.tablecontainer {
  max-height: 45vh;
  overflow: auto;
  margin-bottom: 4em;
  max-width: 85vw;
}

table {
  margin: 0.5em 0 0.5em 0;
}

caption {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

tr {
  border-bottom: 1px dashed #ff0b44;
  display: grid;
  padding: 0.5em 0 0.5em 0;
}

th {
  text-align: left;
}

table.normal tr {
  display: table-row;
}

table.normal tr.highlight {
  font-weight: bold;
  color: red;
}

table.normal th, table.normal td {
  padding: 0.5em;
  font-size: 0.8em;
}

table.normal th {
  border-bottom: 1px dashed #ff0b44;
  background-color: #131313;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

table.normal .first {
  border-right: 1px dashed #ff0b44;
}

table.normal td.first {
  font-style: italic;
}

.overline {
  font-family: 'Staatliches', cursive;
  font-style: bold;
  font-size: 3vmin;
  color: #ff0b44;
  margin-bottom: -5px;
}

p {
  width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
  color: white;
}

a.attribution {
  align-self: end;
  font-size: 10px;
  color: gray;
}

ul {
  max-width: 80%;
  font-size: 0.8em;
  /* width: 100%; */
  /* margin: 0 0 0 auto; */
}

img {
  max-width: 100%;
  max-height: 50vh;
  height: 100%;
  width: fit-content;
}

.overlay-content img {
  align-self: center;
  max-height: none;
  width: 100%;
  height: auto;
}

.attribution {
  font-size: 0.4em;
  text-align: right;
  font-style: italic;
  max-width: 50%;
}

.button {
  background-color: rgba(0,0,0,0);
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: 1.3em;
  text-decoration: none;
  padding: 5px 10px;
  border-style: solid;
  border-color: white;
  margin: 0.8em;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 25px;
  width: 70%;
  text-align: center;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  transition-timing-function: ease-in-out;
}

.link-btn-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1em;
}

.link-btn-box > a {
  margin: 0.25em;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  border: solid 2px grey;
  transition: all 0.2s ease-in-out 0s;
}

.btn-link::after {
  align-self: end;
  margin-bottom: -1.5em;
  font-size: 0.6em;
  color: grey;
}

.btn-github {
  background: white center no-repeat url('img/icons/gh-cat.svg');
  background-size: 80%;
}
.btn-github::after {
  content: "GitHub";
}

.btn-demo {
  background: white center no-repeat url('img/icons/demo.svg');
  background-size: 80%;
}
.btn-demo::after {
  content: "Demo";
}

.btn-download {
  background: white center no-repeat url('img/icons/download.svg');
  background-size: 50%;
}
.btn-download::after {
  content: "Download";
}

.btn-pdf {
  background: white center no-repeat url('img/icons/pdf.svg');
  background-size: 70%;
}
.btn-pdf::after {
  content: "Info";
}

.btn-article {
  background: white center no-repeat url('img/icons/newspaper.svg');
  background-size: 70%;
}
.btn-article::after {
  content: "Article";
}

.overviewslide {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0,0,0,0.7);
  border-radius: 25px;
}

  .ov-heading {
    margin: 2em;
  }

  .ov-content {
    /* width: 100%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    margin: 2em;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }

    .row-content {
      flex-flow: column nowrap;
    }

    .ov-content > div {
      flex: 1 0 26%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0.5em;
      font-size: 1.2em;
      max-width: 100%;
      max-height: 100%;
    }

    @media (orientation: portrait) {
      .ov-content {
        margin-top: 0.5em;
      }

      .ov-heading {
        margin-bottom: 0.5em;
      }

      h2 {
        margin-bottom: 0;
      }

      .ov-content > div {
         flex-basis: 51%;
         font-size: 2vmax;
      }

      .ov-content > .image { 
        max-height: 30%;
      }
    }

    @media (max-width: 1200px) {
      .ov-content {
        font-size: 2vmax;
      }
    }

    @media (max-width: 926px) and (orientation: landscape) {
      .ov-heading {
        margin: 1em 1em 0.1em 1em;
      }

      .ov-content {
        margin-top: 0.1em;
        font-size: 1.4vmax;
      }
    }

    @media (max-width: 834px) and (orientation: portrait) {
      .ov-content > div {
         flex-basis: 51%;
      }

      .ov-content > .image { 
        height: 10vh;
        /* margin-top: -0.6em !important; */
        /* margin-bottom: -2em !important; */
        /* align-items: flex-end; */
        /* display: none; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }

  /* @media (max-width: 834px) and (orientation: landscape) {
    
    .ov-content > div {
       flex-basis: 51%;
       margin-top: 0;
    }

    .ov-content > .image { 
      height: 10vh;
      margin-top: -5em;
      margin-bottom: 0;
      align-items: flex-end;
      margin-bottom: -3em;

    }
  } */
   
  @media (max-width: 600px) {
    .ov-heading {
      margin: 1em;
    }

    .ov-content {
      margin: 1em;
    }
  }

  @media (max-width: 428px)  {
      .ov-content > div {
         /* font-size: 1em; */
      }
   }

   @media (max-width: 390px)  {
    .ov-content > div {
       /* font-size: 0.8em; */
    }
  }

.overlay-content {
  position: fixed;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 50;
 /*  cursor: pointer; */
  overflow: scroll;
  transition: opacity 0.5s, visibility 0.5s;
  transition-timing-function: cubic-bezier();
}

  .overlay-content > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1280px;
    padding: 1em;
  }


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.8em;
  }
  h5 {
    font-size: 1.6em;
  }
  video {
    max-width: 90vw;
  }
  .consent {
    font-size: 1.2vmax;
    padding: 1em;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 6em;
  }
  .consent {
    font-size: 1.2vmax;
    padding: 1em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 16px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  body {
    font-size: 20px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    font-size: 24px;
  }
}

@media (min-width: 2560px) {
  .wrapper {
    max-width: 1920px;
  }
}

/* Only use Hover on Non-Touch Devices */
/* All Hover-Effects here! */
@media (hover: hover) and (pointer: fine) {
  a:hover {
    color:whitesmoke;
  }
  
  #hidden-content a.button:hover {
    background-color: white;
    color: rgba(22,24,25,1);
  }
  
  .card:hover {
    filter: saturate(1);
  }
  
  #card-btn > a:hover{
    color: whitesmoke;
  }
  
  #card-btn:hover {
    /* box-shadow: -1px 2px 5px rgba(0,0,0,0.3), 1px -2px 5px rgba(255,255,255,0.5); */
  }
  
  .filter-btn:hover {
    color: whitesmoke !important;
    box-shadow: inset -5px 5px 6px #a7a7a7, inset 5px -5px 6px #d9d9d9 !important;
  }
  
  .button:hover {
    background-color: white;
    color: rgba(22,24,25,1);
  }
  
  .btn-link:hover {
    filter: invert();
  }
}